*{
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: RobotoslabRegular;
  src: url(fonts/RobotoSlab-Regular.ttf) format("opentype");
}
@font-face{
  font-family: RobotoslabLight;
  src: url(fonts/RobotoSlab-Light.ttf) format("opentype");
}
@font-face{
  font-family: RobotoslabBold;
  src: url(fonts/RobotoSlab-Bold.ttf) format("opentype");
}


.layout-positioner{
  padding: 0 10px; 
  position: relative;
}
.title{
  font-size: 30px;
  font-family: RobotoslabBold;  
  display: block;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.text{
  display: block;
  font-size: 13px;
  font-family: RobotoslabLight;
}
.left{text-align: left;}
.right{text-align: right;}
.center{text-align: center;}

input::-moz-placeholder { color: #bebebe; font-size: 15px; font-family: sans-serif;}
input::-webkit-input-placeholder { color: #bebebe;font-size: 15px; font-family: sans-serif;}
textarea::-webkit-input-placeholder { color: #bebebe; font-size: 15px; font-family: sans-serif;}
textarea::-moz-placeholder { color: #bebebe; font-size: 15px; font-family: sans-serif;}
textarea{resize:none;}

.header{
  box-sizing: border-box;
  width:100%;
  height: 150px;
  background: url("img/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px 0 0;     
  position: relative;
  overflow: hidden;
}
.logo{
  position:relative;
  float:left;
}
.logo img{
  width: 120px;
}
.header .logo span{
  display:block;
  position:absolute; 
  left: 35px;
  top:23px;
  color: #82b541;
  font-size:10px;
  letter-spacing: 1;
  text-transform: uppercase;
  font-family: RobotoslabRegular;  
}
.menu-button { 
    float: right; 
    margin-right: 10px;
    font-size: 20px;
    color: white;
}
.menu{display: none;}

.header .layout{
  width:100%;
  padding:10px 10px 0;
  box-sizing: border-box;
  clear:both;
  text-align: center;
}
.time{  
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #82b541;
  border-radius: 15px;
  width: 90%;
  height: 40px;
  padding: 5px;
  margin: 10px 0 0 0;
  font-family: RobotoslabRegular;
  text-align: center;
}
.time .block{
  display: inline-block;  
  width: 20%;  
  color:white;
  text-transform: uppercase;
  font-size: 10px;
   margin: 0 5px;
}

.block .numeral{
  font-size: 10px;
  display: block;
}
.t{
  font-size: 20px;
  color:white;
  display: inline-block;
  vertical-align: top;

}
.badges{
  margin: 20px auto 0;
  width: 250px;
}
.badges img{
  width: 40px;
  height:auto;
  margin: 0 3% 0 0; 
}
.badges img:last-child{ margin-right: 0;}

/*END HEADER----------------------------------------------------*/

.welcome{
  padding: 30px 0;
  color: black;
  font-family: RobotoslabLight;
  font-size: 13px;
}

.welcome p{
  margin: 20px 0;
}
.welcome p span{
  font-weight: bold;
}
form.signup{
  padding: 20px;
  text-align:center;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}
form.signup .title{
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
form.signup input{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 15px;  
}
form.signup button{
  background-color: #90d23d;
  border: none;
  color: white;
  text-align: center;    
  display: inline-block;
  font-size: 20px; 
  width: 100%;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
}
form.signup .text{
  display: inline-block;
  margin: 10px 0;
  color: #6c6c6c;
  font-size: 15px;
  width: 90%;  
}


/*END FORM------------------------------------------------------*/

.details-icons{
  width:100%;
  margin: 50px 0 10px;
}
.container{
  width: 100%;
  padding: 20px 5px 0;
  box-sizing: border-box;
  margin: 20px 0;
}
.details-icons .container .icon {
  color: black;
  text-align: center; /*действует на текст в вложенных блочных элементах?*/
}
.details-icons .container .icon img{
  margin-bottom: 30px;
}
.details-icons .container .icon .title{  
  display: block;
  font-size: 20px;
  font-family: RobotoslabBold;  
  margin-bottom: 20px;
  text-transform: capitalize;
}


/*END DETAILS-ICONS------------------------------------*/
.timetable{margin: 20px 0;}

.timetable table {
  font-size: 13px;
  color:white;
  font-family: RobotoslabRegular;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  margin: 20px 0;
  width:100%;
}
.timetable table td,th{
  height: 50px;
  padding: 10px;
}


.timetable td:first-child{
  width:33%;
  text-align: center;  
}
.timetable td:second-child{
  width:50%;  
}
.timetable td:third-child{
  font-size: 20px;
  width:20%;  
}
.timetable table button{
  width: 30px;
  height:30px;
  border-radius: 15px;
  background-color: white;  
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}
.timetable table tr:nth-child(odd) button{color: #373737;}
.timetable table tr:nth-child(even) button{color: #4b4d4f;}

.timetable tr:nth-child(odd){
  background-color: #373737;
}
.timetable tr:nth-child(even){
  background-color: #4b4d4f;
}
.timetable table thead tr th{
  font-size: 15px;
  font-weight:bold;
  text-align: left;
  background-color: #a3cc40;
}
.timetable table thead tr th:first-child{ text-align: center;}
.timetable .text{
  text-align: center;
  font-size: 16px;
  color:#777777;
}
 
/* END TIMETABLE-------------------------------------------*/


.reward{
  text-align: right;
  color: white;
  margin: 40px 0;
  background: url(img/reward-bg-h.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 130px 0;
  box-sizing: border-box;
  position: relative;
}

.reward .text{
  font-weight: 600;
}
.reward p{
  margin: 20px 0;
}

.reward-badge{display: none;}

button{
  background-color: #90d23d;
  color: white;
  font-size: 20px;
  width: 200px;
  height:50px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}

/*
.reward::before {
  content:"";
  display:block;
  position: absolute;
  left:0;
  top:0;
	 width: 0;
	 height: 0;
	 border-top: 10px solid white; 
	 border-right: 320px solid transparent;			
}
.reward::after {
  content:"";
  display:block;
  position: absolute;
  right:0;
  bottom:0;
	 width: 0;
	 height: 0;
	 border-bottom: 10px solid white; 
	 border-left: 320px solid transparent;			
}
*/

.wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.wrap:before,
.wrap:after{
    transform-origin: center center;
}
.wrap:before {
  content: " ";
  position: absolute;
  width: 200%;
  height: 90px;
  top: -30px;
  left: -10px;
  background: white;
  transform: rotate(-3deg);
  z-index: 5;
}
.wrap:after {
  content: " ";
  position: absolute;
  width: 200%;
  height: 90px;
  bottom: 30px;
  left: -10px;
  background: white;
  transform: rotate(-3deg);
  z-index: 5;
}


/*END REWARD---------------------------------------*/



.speakers .galery {
  width:100%;
  margin: 20px 0;
}
.speakers .galery .container img{
  width:100%;
  height: auto;
  margin: 20px 0;
}
.speakers .galery .container{
  margin:0;
  padding: 0;
}

/*END SPEAKERS--------------------------------------*/

.sponsor{
  text-align: center;
  margin: 40px 0;
  background: url(img/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  padding: 100px 0;
  box-sizing: border-box;
  position: relative; 
}


.sponsor .text{
  font-weight: 600;
}
/*
.sponsor::before {
  content:"";
  display:block;
  position: absolute;
  left:0;
  top:0;
	 width: 0;
	 height: 0;
	 border-top: 50px solid white; 
	 border-right: 1000px solid transparent;			
}
.sponsor::after {
  content:"";
  display:block;
  position: absolute;
  right:0;
  bottom:0;
	 width: 0;
	 height: 0;
	 border-bottom: 50px solid white; 
	 border-left: 1000px solid transparent;			
}
*/
.sponsor .sponsor-badges{margin-top: 20px;}
.sponsor .sponsor-badges img{
  display: inline-block;
  height: 30px;
  width:auto;
  margin: 0 10px 0 0;
}
.sponsor .sponsor-badges img:last-child{height:15px;}
.sponsor .sponsor-badges {text-align: center;}

/*END SPONSOR---------------------------------------------------*/

.past{
/*  text-align: center;*/
}
.past .galery img{
  width:100%;
  height: auto;
  margin: 15px 0;
}

.past button{  
  display: block;
  background: #373737;
  margin-top: 10px;
  margin: 0 auto;
}

/*END PAST----------------------------------*/

.map{
  background-image: url(img/map.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  margin: 40px 0 0;
}
.map .content{
  background: white;
  padding: 50px 20px; 
}
.map .view img{
  width: 100%;
  height: auto;
}
.view button{
  display: block;
  margin: 30px auto 0;
}
.view .text{
  margin: 30px 0;
  font-size: 15px; 
}
.map .content input{  
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 15px;  
}
.map .content textarea{
  height: 200px;
  display: block;
  width: 100%;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px 10px;
  font-size: 15px;  
}
.map .content button.message{
  width: 100%;
  background-color: #373737;
  border-radius: 5px;
}

/*END MAP--------------------------------------*/

.footer{
  width:100%;
  background: #90d23d;
  text-align: center;
  padding: 30px 0;
}

.crop{
  position: relative;
  width: 300px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.sprite{
  position: absolute;
  top:0;
  left:0;  
}
.footer .text{color:white; font-weight: 700; font-size: 15px;}

/*MEDIA------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px){
  
/*header---------------------------*/
  .header{ height: 400px;}
  .header .layout-positioner{height:400px;}
  
  form.signup{
    position:absolute;
    top: -200px;
    right: 10px;
    background: white;
    width: 35%;
    z-index: 6;
  }
  
  .welcome{
    width: 50%;
  }
  .badges {
    width: 425px;
    height: 100px;
    margin-bottom: 0;
    margin-top: 110px;
    transform: rotate(-5deg);
    position: absolute;
    left:0;
    bottom: 50px;
  }
  
  .badges img{
    width: 100px;
    height:auto;
    margin: 0 0 0 -20px;  
    float:right;
  }
  
  .header:after {
    content: " ";
    position: absolute;
    width: 200%;
    height: 120px;
    bottom: 0px;
    left: -10px;
    background: white;
    transform: rotate(-5deg);
    z-index: 5;
  }
  
  .header .layout{
  width:100%;
  padding:10px 10px 0;
  box-sizing: border-box;
  clear:both;
  text-align: center;
  }
  
  .time .content{margin:0 auto; width: 50%;}

  .time{height: 70px; margin-top: 30px;}

  .time .block{
    display: block; 
    float:left;
    width: 20%;  
    font-size: 15px;
    margin-right:10px;
  }

  .block .numeral{
    font-size: 25px;
    display: block;
    margin-right:10px;
  }
  .t{
    font-size: 30px;
    display: block;
    float:left;
    margin-right: 10px;
  }
  
  .menu-button{display:none;}
  .menu{
    display:block;
    float:right;
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px 10px 0;
  }
  .menu li{
    display: block;
    float:right;
    margin-left:30px;
  }
  .logo{margin:10px 0 0 10px;}
  
/*end header--------------------------------------*/  
  
  .timetable .text{
    margin: 0 auto;
    width: 80%;
  }
/*reward--------------------------------*/
  .reward{margin-top: 200px;}
  .reward-badge{
    display:block;
    position: absolute;
    width:30%;
    height: auto;
    top: -130px;
    left: 10px;
    z-index: 6;
  }
  .wrap:before {  
    width: 200%;
    top: 140px;
    left: -10px;
  }
  .reward .text{width:50%;float:right; }
  
  .reward button{float:right;clear:right;}
  
  /*end reward-----------------------------*/
  
  /*speakers-------------------------------*/
  .speakers .galery .container{
    float:left;
    width:33%;  
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .speakers .galery .container img{margin:0;}

  .speakers .text{
    width: 70%;
  } 
  
  /*end speakers---------------------------*/
  
  /*details icons--------------------------*/
  
  .details-icons .container{                             
        width:33%;
        padding: 0 20px;
        float:left;
    }
  .details-icons .container .icon .title{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .details-icons .container .icon img{
     margin-bottom: 10px;
  }
  
  /*end details icons----------------------*/
  
  
  .table{
    width:100%;   
  }   
  
/*past events------------------------------*/
  .wrap.sp::before {      
    top:-20px;
  }
  
  .past .text, .past .title{text-align: left;}  
  .past .text{width:50%;}
  
  .past .galery {
    font-size: 0;
    max-width: 768px;
    display: block;
    margin: 30px auto;
  }
  
  .past .galery .container img{
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;    
  }
  .past .galery .container{
    display:inline-block;
    overflow: hidden;
    vertical-align: top;
    padding:0;
    margin:0;
    height:250px;
  }
  .past .galery .container.big{
    width:55%;   
  }
  .past .galery .container.small{
    width:45%; 
  }
  
  /*end past events------------------------*/
  
  /*map------------------------------------*/
  
  .map .view{
    width:45%;
    float:left;
  }
  .map .form-send{
    float:right;
    width:45%;
  }
/*end map----------------------------------*/
  
}
/*end media 768------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

@media (min-width: 1024px){
  
  .header{ height: 550px;}
  .header .layout-positioner{height:550px;}
  
  .welcome{
    width: 50%;
  }
  .badges {
    width: 520px;
    height: 100px;
    margin-bottom: 0;
    margin-top: 110px;
    left: 5px;
    bottom: 50px;
  }
  
  .badges img{
    width: 120px;
    margin: 0 0 0 -20px; 
  }
  
  .header:after {    
    height: 120px;
    bottom: 0px;
  }
  
  .time{height: 100px; margin-top: 60px;}

  .time .block{     
    font-size: 25px;
    margin-right: 30px;
    width: 120px;
  }
  .time .content{width: 500px;}
  
  .block:last-child, .block .numeral:last-child{margin-right:0;}
  
  .block .numeral{
    font-size: 35px;
    margin-right: 20px;
  }
  .t{
    font-size: 40px;
    margin-right: 20px;
  }
  
  .reward{margin-top: 200px;}
  .reward-badge{    
    top: -130px;
    left: 10px;
  }
  .wrap:before {      
    top: 120px;
  }
  .wrap:after{
    height: 90px;
    bottom: 30px;
  }
  .wrap.sp::before {      
    top:-40px;
  }
  
  
  
}

@media (min-width: 1440px){
  
  .big-screen{     
    padding: 0 15%; 
    position: relative;
  }
  form.signup{
    max-width: 400px;
    right: 15%;
    width: 35%;   
  }
  
   .header:after{
    height: 200px;
    bottom: -30px;
  }
  
  .badges {    
    margin-bottom: 20px;
  }
  
  .reward-badge{
    top: -250px;
    left: 15%;    
  }
  
  .wrap:before{   
    top: 0px;
    height: 150px;
  }
  .wrap:after{
    height: 150px;
    bottom: 20px;
  }
  .reward{
    padding: 200px 0;
    margin-top: 100px;
  }

  .sponsor{
    padding: 150px 0;
  }
  .wrap.sp:before{   
    top: -100px;
    height: 150px;
  }
   .wrap.sp:after{   
    bottom: 0px;
    height: 150px;
  }    
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}