*{
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: RobotoslabRegular;
  src: url(fonts/RobotoSlab-Regular.ttf) format("opentype");
}
@font-face{
  font-family: RobotoslabLight;
  src: url(fonts/RobotoSlab-Light.ttf) format("opentype");
}
@font-face{
  font-family: RobotoslabBold;
  src: url(fonts/RobotoSlab-Bold.ttf) format("opentype");
}



title{
   font-size: 30px;
   font-family: RobotoslabBold;  
   display: block;
   margin-bottom: 30px;
   text-transform: capitalize;
 }
 .text{
   display: block;
   font-size: 13px;
   font-family: RobotoslabLight;
 }
 .left{text-align: left;}
 .right{text-align: right;}
 .center{text-align: center;}
 


.layout-positioner{
  padding: 0 50px;
}
.header{
  box-sizing: border-box;
  width:100%;
  height: 500px;
  background: url("img/hero-bg.jpg") no-repeat;
  background-size: cover; /*как сместить background при том, что надо еще картинку увеличить и чтобы только ее часть была на экране?*/    
  padding: 50px 0;   
  overflow: hidden;
  position: relative;
}
.logo{
  position:relative;
  float:left;
}
.logo img{
  width: 400px;
}
.header .logo span{
  display:block;
  position:absolute; 
  left: 135px;
  top:70px;
  color: #82b541;
  font-size:30px;
  letter-spacing: 3;
  text-transform: uppercase;
  font-family: RobotoslabRegular;  
}
.menu-button { 
    float: right;   
    font-size: 60px;
    color: white;
}
.header .layout{
  width:100%;
  padding:50px;
  box-sizing: border-box;
  clear:both;
  text-align: center;
}
.time{  
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid #82b541;
  border-radius: 40px;
  width: 750px;
  height: 120px;
  padding:10px;
  font-family: RobotoslabRegular;
  text-align: center;
}
.time .block{
  display: inline-block;  
  width: 20%;  
  color:white;
  text-transform: uppercase;
  font-size: 30px;
   margin: 0 15px;
}

.block .numeral{
  font-size: 40px;
}
.t{
  font-size: 60px;
  color:white;
  display: inline-block;
  vertical-align: top;

}
.badges{
  position: absolute;
  bottom: -15px;
  left: 80px;
}
.badges img{
  width: 135px;
  height:auto;
  margin: 0 15px; 
}

/*END HEADER----------------------------------------------------*/

.welcome{
  padding: 100px 0;
  color: black;
  font-family: RobotoslabLight;
  font-size: 13px;
}
.welcome .title{
  font-size: 80px;
  font-family: RobotoslabBold;    
}
.welcome p{
  margin: 80px 0;
}
.welcome p span{
  font-weight: bold;
}
form.signup{
  padding: 70px 40px;
  text-align:center;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
  margin-bottom: 100px;
}
form.signup .title{
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
  margin: 20px 0;
}
form.signup input{
  
  display: block;
  width: 100%;
  height: 150px;
  border: 3px solid #bebebe;
  border-radius: 10px;
  margin: 50px 0;
  color: #bebebe;
  padding: 0 30px;
  font-size: 55px;  
}
form.signup button{
  background-color: #90d23d;
  border: none;
  color: white;
  text-align: center;    
  display: inline-block;
  font-size: 60px; 
  width: 100%;
  height: 150px;
  font-weight: bold;
  border-radius: 10px;
}
form.signup .text{
  display: inline-block;
  margin: 30px 0;
  color: #6c6c6c;
  font-size: 50px;
  width: 90%;  
}

form.signup input::-moz-placeholder { color: #bebebe; }
form.signup input::-webkit-input-placeholder { color: #bebebe; }

/*END FORM------------------------------------------------------*/

.details-icons{
  width:100%;
  margin: 50px 0;
}
.container{
  width: 100%;
  padding: 80px 10px 0;
  box-sizing: border-box;
}
.details-icons .container .icon {
  color: black;
  text-align: center; /*действует на текст в вложенных блочных элементах?*/
}
.details-icons .container .icon img{
  margin-bottom: 60px;
}
.details-icons .container .icon .title{  
  font-size: 60px;
  font-family: RobotoslabBold;  
  margin-bottom: 60px;
  text-transform: capitalize;
}
.details-icons .container .icon .text{  
  font-size: 12px;
  font-family: RobotoslabLight;
 
}

/*END DETAILS-ICONS------------------------------------*/

.timetable table {
  font-size: 40px;
  color:white;
  font-family: RobotoslabRegular;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  border-collapse: collapse;
  margin: 100px 0;
}
.timetable table td,th{
  height: 150px;
  padding: 30px;
}


.timetable td:first-child{
  width:33%;
  text-align: center;  
}
.timetable td:second-child{
  width:50%;  
}
.timetable td:third-child{
  font-size: 100px;
  width:20%;  
}
.timetable table button{
  width: 70px;
  height:70px;
  border-radius: 50px;
  background-color: white;  
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: top;
}
.timetable table tr:nth-child(odd) button{color: #373737;}
.timetable table tr:nth-child(even) button{color: #4b4d4f;}

.timetable tr:nth-child(odd){
  background-color: #373737;
}
.timetable tr:nth-child(even){
  background-color: #4b4d4f;
}
.timetable table thead tr th{
  font-size: 50px;
  font-weight:bold;
  text-align: left;
  background-color: #a3cc40;
}
.timetable table thead tr th:first-child{ text-align: center;}
.timetable .text{
  text-align: center;
  font-size: 15px;
  color:#777777;
}
 
/* END TIMETABLE-------------------------------------------*/

.reward .title{
  display: block;
  font-family: RobotoslabBold;
  font-size: 60px;
  margin-bottom: 100px;
}
.reward{
  text-align: right;
  color: white;
  margin: 200px 0;
  background: url(img/reward-bg-h.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 300px 0;
  box-sizing: border-box;
  position: relative;
}
.reward .text{
  display: block;
  font-size: 11px;
  font-family: RobotoslabLight;
  letter-spacing: 0.08;
  font-weight: 600;
}
.reward p{
  margin: 80px 0;
}
.reward button{
  background-color: #90d23d;
  color: white;
  font-size: 50px;
  width: 550px;
  height:130px;
  border-radius: 40px;
}

.reward::before {
  content:"";
  display:block;
  position: absolute;
  left:0;
  top:0;
	 width: 0;
	 height: 0;
	 border-top: 50px solid white; 
	 border-right: 1000px solid transparent;			
}
.reward::after {
  content:"";
  display:block;
  position: absolute;
  right:0;
  bottom:0;
	 width: 0;
	 height: 0;
	 border-bottom: 50px solid white; 
	 border-left: 1000px solid transparent;			
}

/*END REWARD---------------------------------------*/

.speakers .title{
  display:block;
  margin-bottom: 50px;
  font-family: RobotoslabBold;
  font-size: 60px;
  
}
.speakers .text{
  display: block;
  font-family: RobotoslabLight;
  font-size: 13px;
}

.speakers .galery {
  width:100%;
  margin: 50px 0;
}
.speakers .galery .container img{
  width:100%;
  height: auto;
  margin: 50px 0;
}
.speakers .galery .container{
  margin:0;
  padding: 0;
}

/*END SPEAKERS--------------------------------------*/

.sponsor{
  text-align: center;
  margin-bottom: 100px;
  background: url(img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
  padding: 100px 0;
  box-sizing: border-box;
  position: relative; 
  width: 100%;
}

.sponsor .title{
  font-family: RobotoslabBold;
  display:block;
  font-size: 60px;  
  margin-bottom: 50px;
  text-transform: capitalize;
}
.sponsor .text{
  display: block;
  font-size: 11px;
  font-family: RobotoslabLight;
  font-weight: 600;
  z-index: 2;
}
.sponsor::before {
  content:"";
  display:block;
  position: absolute;
  left:0;
  top:0;
	 width: 0;
	 height: 0;
	 border-top: 50px solid white; 
	 border-right: 1000px solid transparent;			
}
.sponsor::after {
  content:"";
  display:block;
  position: absolute;
  right:0;
  bottom:0;
	 width: 0;
	 height: 0;
	 border-bottom: 50px solid white; 
	 border-left: 1000px solid transparent;			
}
.sponsor .badges .img{
  display: inline-block;
  width:30%;    
}
.sponsor .badges {text-align: center;}

/*MEDIA---------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/

@media (min-device-width: 768px){
  .speakers .galery .container{
    float:left;
    width:33%;  
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .speakers .galery .container img{margin:0;}

  .speakers .text{
    width: 70%;
  } 
  
  .details-icons .container{                             
        width:33%;
        padding: 0 40px;
        float:left;
    }
  .details-icons .container .icon .title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .details-icons .container .icon img{
     margin-bottom: 20px;
  }
  .table{
    width:100%;   
  }     
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}